/*

@media(min-width:768px),(max-width: 991px){
    .container{
        width: 750px;
    }
 
    .header-bottom-content{
        flex-direction: column;
    }
    .header-bottom-title{
        line-height: 75px;
    }
    ul.header-bottom-menu{
        line-height: 25px;
    }
    .banner-image img{
        width: 90%;
    }
   
}

@media(min-width:992px){
        .container{
            width: 970px;
        }
       
 }

*/