* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root {
    --large-width:100%;
    --normal-width:1150px;
    --primary-color:#011C38;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #011C38;    
}
a {
    color: #011C38;
    text-decoration: none;
}
.container-full {
    width: var(--large-width);
}
.container {
    width:var(--normal-width);
    margin:auto;
}
.header {
    background-image: url("/images/background.png");
    color:#fff;
}
.header a {
    color:#fff;
}
.header a:hover {
    opacity: 0.6;
}
.header-top {    
    height:35px;
    line-height: 35px;
    /* background-color: #011C38;
    opacity: 0.3; */
    background-color: rgba(1, 28, 56, 0.3);
}
.header-bottom {
    height:100px;
    line-height: 100px;
}
.header-top-content {
    display: flex;
    justify-content: space-between;
}
.header ul {
    list-style: none;
}
.header li {
    display: inline-table;
}
.header li+li {
    margin-left:20px;
}
.header-bottom-content {
    display: flex;
    justify-content: space-between;
}
.header-bottom-title {
    font-size: 1.5em;
}
.header-bottom-menu {
    font-size: 1.1em;
}

.banner {
    height:320px;
    color:#fff;
    background-color: var(--primary-color);    
}
.banner-content {
    display:flex;
}
.banner-image, .banner-connect {
    width:50%;
}
.banner-image img {
    position: relative;
    top:30px;
}
.banner-connect-form {
    margin-top:30px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
    column-gap: 15px;
}
.connect-title {
    grid-column: 1/3;
    font-size: 2em;
    padding-bottom: 20px;
}
.connect-button {
    grid-column: 1/3;
    grid-row: 4/5;
    text-align: right;
}
.banner-connect-form input {
    width:100%;
    line-height: 25px;
    background-color: #1B334C;
    border:none;
    padding:5px;
    color:#fff;
}
.banner-connect-form button {
    background: transparent;
    border:2px solid #EA6645;
    color:#EA6645;
    padding:8px 15px 8px 15px;
}

.container-3col{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;
    margin-top: 50px;
}

.container-2col{
    display: grid;
    grid-template-columns: 32% 65%;
    grid-template-rows: 300px;
    gap:3%;
    margin-top: 50px;
}   

.footer{
    background-image: url(./images/background.png) ;
    color:#fff;
}
.footer-bottom{
    height:35px;
    line-height: 35px;
    /* background-color: #011C38;
    opacity: 0.3; */
    background-color: rgba(1, 28, 56, 0.7);
}
.box-title{
    font-size: 2em;
    position: relative;
    margin-top: 30px;
}
.line-after-gray::after{
    width:50px;
    height: 2px;
    background: #ccc;
    content:"";
    position: absolute;
    bottom: -10px;
    display: block;
    z-index: 99;
}
.line-after-blue::after{
    width:50px;
    height: 2px;
    background: #536578;
    content:"";
    position: absolute;
    bottom: -10px;
    display: block;
    z-index: 99;
}
.new-event{
    height: 350px;
}
.img{
    background-image: url(./images/about-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 118px;
}
.content-news{
    margin-top: 25px;
    font-size: 1em;
    color:#000;
    line-height: 1.6;
} 

.deltail-content{
    margin-top: 10px;
    color:#9f9f9f;
}
.news-item{
    width: 360px;
    border-bottom: 1px solid rgba(159,159,159,0.2);
}
.news-item a{
    color: #042e6e;
    display: block;
    padding-left:15px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 58px;
    font-weight: 600;
}

.event-item{
    display: grid;
    grid-template-columns: 70px 275px;
    grid-template-rows: 70px;
    gap:9px;
    margin-bottom: 30px;
}
.event-item p{
    padding-top: 9px;
    color: #9f9f9f;
    font-size: 0.95em;
}

.event-item a{
    font-size: 1.1em;
    font-weight: bold;
    color: #042e6e;

}

.datetime{
    position: relative;
    color: white;
}
.month{
    font-size: 1.2em;
    position: absolute;
    left: 5px;
    top: 4px;
}
.day{
    font-size: 5em;
    font-weight: bold;
    position: absolute;
    left: 16px;
    top: 8px;

}

.links-content{
    background-color: #011C38;
    color: #fff;
    height: 320px;
}
.links-item{
    margin-left: 30px;
}
.list-department{
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
}
.list-department li{
    padding-top: 18px;
}
.list-department li a{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
    font-weight: 300;   
}
.list-image{
    display: grid;
    grid-template-columns: repeat(7,100px);
    grid-template-rows: 100px 100px;
    gap:7px;
    margin-top: 30px;
}
.image-item img{
    width: 100px;
    height: 100px; 
}
.hot-person{
    margin-top: 30px;
    display: grid;
    gap:7px;
}
.person-item{
   display: flex; 
   height: 100px;
   padding: 6px;
   border: 2px solid #f5f5f5;
}

.person-image img{
    width: 80px;
    height: 100%;
}
.person-detail{
    margin-left: 10px;
}
.person-detail .name{
    font-size: 1.2em;
    font-weight: bold;
    /* color:var(--primary-color); */
    position: relative;
    margin-top: 3px;
}
.person-detail .tie{
    margin-top: 25px;
    color:#ccc;
    font-size: 0.9em;

}
.person-detail .achive{
    margin-top: 7px;
    font-size: 0.9em;
}
.content{
    margin-top: 25px;
    font-size: 1em;
    color:#fff;
    line-height: 1.6;
} 
.list-link{
    padding-left: 20px;
}  
.list-link li a{
    font-size: 1em;
    color:#fff;
    line-height: 1.6;
}
.footer-top{
    height: 280px;
}
.gallery{
    height: 300px;
}
